Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto

chore: pass common api version to use to module gen's `init`
  fedimint-client/src/lib.rs
  fedimint-client/src/module/gen.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning

hello: test
  modules/fedimint-ln-common/src/db.rs
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/database, @fedimint/firehose

chore: print name of the api servere on start/build error
  fedimint-server/src/lib.rs
Owners: @fedimint/firehose

chore: print backtrace on failing ccov tests
  nix/craneBuild.nix
Owners: @fedimint/infra

fix: prevent double spend of ecash note within the same MintInput
  modules/fedimint-mint-server/src/lib.rs
Owners: @fedimint/firehose

chore: print sha256sum of binaries
  .github/workflows/ci-nix.yml
Owners: @fedimint/infra

deploy: b289b2f635f434382e2c827bd91bd613cbe4d6fd
  fedimint_server/index.html
  fedimint_server/struct.FedimintApiHandler.html
  fedimint_server/struct.FedimintServer.html
  search-index.js
  src/fedimint_server/lib.rs.html
Owners: @fedimint/firehose

deploy: fff1aa0ffdaafa543df63f45890bfe3cd81cdd31
  fedimint_mint_server/index.html
  fedimint_mint_server/struct.Mint.html
  fedimint_mint_server/struct.VerifiedNotes.html
  help.html
  index.html
  settings.html
  src/fedimint_mint_server/lib.rs.html
Owners: @fedimint/firehose

chore(ci): fix step name
  .github/workflows/ci-nix.yml
Owners: @fedimint/infra

deploy: 39318a6e7266287bf198d960c0c7026309447782
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

fix(fedimint-cli): logging before logging is initialized
  fedimint-cli/src/lib.rs
Owners: @fedimint/firehose

deploy: cffb7e0b345dc3297e84ed8370e14c2c2f0aaec3
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

deploy: 19d4d69de041efafe63daa94bb406f015b5605df
  help.html
  index.html
  settings.html
  src/fedimint_cli/lib.rs.html
Owners: @fedimint/firehose

feat: use track payment v2
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
Owners: @fedimint/lightning

feat: make LND pay idempotent
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/ng/pay.rs
  modules/fedimint-ln-client/src/pay.rs
Owners: @fedimint/lightning, @fedimint/firehose

feat: outgoing idempotent payments
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  modules/fedimint-ln-client/src/pay.rs
Owners: @fedimint/lightning, @fedimint/firehose

fix: remove register state machine
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/register.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

feat: finish up registration tests
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

feat: log error message when gateway can't connect to lnd
  gateway/ln-gateway/src/lnd.rs
Owners: @fedimint/lightning

deploy: 97cd553dfbc190ff1082e66606bffe4d5adf0586
  help.html
  index.html
  settings.html
  src/ln_gateway/lnd.rs.html
Owners: @fedimint/firehose

fix: improve version hash detection and handling
  fedimint-build/src/lib.rs
  flake.nix
  nix/craneCommon.nix
Owners: @fedimint/firehose, @fedimint/infra

chore: rename `CODE_VERSION` to `FEDIMINT_BUILD_CODE_VERSION`
  fedimint-build/src/lib.rs
  fedimint-cli/src/lib.rs
  fedimint-server/src/config/io.rs
  gateway/cli/src/main.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
Owners: @fedimint/firehose, @fedimint/consensus, @fedimint/lightning

fix: stale `version-hash` possible (bandaid)
  fedimint-build/src/lib.rs
Owners: @fedimint/firehose

deploy: 8cc5cfc11df1297ca7984b2c57af00609914d09e
  fedimint_build/all.html
  fedimint_build/constant.FORCE_GIT_HASH_ENV.html
  fedimint_build/constant.GIT_HASH_ENV.html
  fedimint_build/fn.set_code_version.html
  fedimint_build/fn.set_code_version_inner.html
  fedimint_build/index.html
  fedimint_build/sidebar-items.js
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_build/lib.rs.html
  src/fedimint_cli/lib.rs.html
  src/fedimint_server/config/io.rs.html
  src/gateway_cli/main.rs.html
  src/gateway_cln_extension/cln_extension.rs.html
  src/gatewayd/gatewayd.rs.html
  src/ln_gateway/lib.rs.html
Owners: @fedimint/firehose

refactor: move versioning into own module and add some docs
  fedimint-core/src/module/mod.rs
  fedimint-core/src/module/version.rs
Owners: @fedimint/firehose

feat: better error reporting
  fedimint-bitcoind/src/lib.rs
  fedimint-core/src/bitcoinrpc.rs
  fedimint-server/src/net/peers.rs
  fedimintd/src/fedimintd.rs
Owners: @fedimint/firehose

feat: minimum docker-compose for fedimintd
  docker/README.md
  docker/fedimintd/docker-compose.yaml
  scripts/start-containers.sh
Owners: @fedimint/firehose, @fedimint/infra

feat: cap fees in absolute sat values
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/ng/pay.rs
Owners: @fedimint/lightning

fix: declare max fee for lnd pay
  gateway/ln-gateway/src/lnd.rs
Owners: @fedimint/lightning

fix: remove 8176 port used by old admin UI
  docs/networking.md
  flake.nix
Owners: @fedimint/firehose, @fedimint/infra

fix: remove leftover FM_POLL_INTERVAL variable in build.sh
  scripts/build.sh
Owners: @fedimint/infra

fix: remove scripts/start-containers.sh
  scripts/start-containers.sh
Owners: @fedimint/infra
