Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto

fix: dummy client uses wrong amount when receiving funds
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-dummy-client/src/states.rs
Owners: @fedimint/firehose

refactor: create shared internal transaction state machine
  Cargo.lock
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-common/src/contracts/incoming.rs
  modules/fedimint-ln-common/src/incoming.rs
  modules/fedimint-ln-common/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning

rename: rename CompleteHtlcResponse to InterceptHtlcResponse
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: Gatewayd database
  fedimint-testing/src/gateway.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/database

feat: register gateway state machine
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/register.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

remove: remove subscribe_mint_htlcs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
  gateway/ln-gateway/src/ng/mod.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: fix cli test
  devimint/src/federation.rs
Owners: @fedimint/firehose

remove: disable lightning reconnection test
  devimint/src/federation.rs
  devimint/src/main.rs
Owners: @fedimint/firehose

refactor: one route_htlcs instead of per-actor
  fedimint-core/src/config.rs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/cli/src/main.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_client.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: fix timing bug and add timing buffer
  gateway/ln-gateway/src/ng/register.rs
Owners: @fedimint/lightning

Add client functionality to bitcoin rpc clients (#2632)
  Cargo.lock
  devimint/src/bin/faucet.rs
  devimint/src/external.rs
  fedimint-bitcoind/Cargo.toml
  fedimint-bitcoind/src/bitcoincore.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
  fedimint-bitcoind/src/electrum.rs
  fedimint-bitcoind/src/esplora.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/real.rs
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-server/src/lib.rs
Owners: @fedimint/firehose

feat: client internal pay
  fedimint-cli/src/ng.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/src/incoming.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: use database to determine if the gateway should reregister
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/register.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/database, @fedimint/lightning

remove: remove dependency on legacy client
  Cargo.lock
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/src/types.rs
Owners: @fedimint/firehose, @fedimint/lightning

feature(ui): add yarn dev command, and individual app dev commands that also dev any dependencies
  fedimint-ui/README.md
  fedimint-ui/package.json
  fedimint-ui/turbo.json
Owners: @fedimint/firehose

feat: simple cli test for ng client backup&restore
  devimint/src/main.rs
Owners: @fedimint/firehose

chore: print OperationId using Display, not Debug
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

chore: improve mint module recovery debug output
  fedimint-logging/src/lib.rs
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

chore: more debug output helpful in recovery debugging
  fedimint-cli/src/lib.rs
  fedimint-client/src/backup.rs
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

fix: wrong placement of restore test (rebase issue)
  devimint/src/main.rs
Owners: @fedimint/firehose

fix: restore test to run only once
  devimint/src/main.rs
Owners: @fedimint/firehose

feature: decouple wallet client from depending on esplora (#2653)
  Cargo.lock
  devimint/src/federation.rs
  fedimint-bitcoind/src/bitcoincore.rs
  fedimint-bitcoind/src/electrum.rs
  fedimint-bitcoind/src/esplora.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-cli/src/lib.rs
  fedimint-load-test-tool/src/common.rs
  fedimint-testing/src/btc/mock.rs
  gateway/ln-gateway/src/client.rs
  integrationtests/tests/fixtures/mod.rs
  modules/fedimint-dummy-client/src/states.rs
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-client/src/deposit.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-common/src/config.rs
  modules/fedimint-wallet-server/src/lib.rs
  modules/fedimint-wallet-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

chore(nix): fix needless rebuilds
  flake.nix
  nix/craneCommon.nix
Owners: @fedimint/infra

fix: minor typos
  devimint/src/external.rs
  devimint/src/main.rs
  docs/database.md
  fedimint-core/src/api.rs
  fedimint-core/src/module/mod.rs
  fedimint-server/src/consensus/mod.rs
  fedimint-server/src/consensus/server.rs
  fedimint-server/src/net/api.rs
  integrationtests/tests/tests.rs
  modules/fedimint-dummy-server/src/lib.rs
  modules/fedimint-ln-common/src/incoming.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-ln-server/src/lib.rs
  modules/fedimint-mint-server/src/lib.rs
  modules/fedimint-wallet-server/src/lib.rs
  nix/craneCommon.nix
Owners: @fedimint/firehose, @fedimint/consensus, @fedimint/infra

fix: remove two workspaces
  Cargo.lock
  Cargo.toml
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

fix: broken fedimint-wasm-tests
  fedimint-wasm-tests/Cargo.toml
  fedimint-wasm-tests/src/lib.rs
Owners: @fedimint/firehose

fix: faucet spawn after cln
  devimint/src/lib.rs
Owners: @fedimint/firehose

chore: update nixpkgs
  flake.lock
Owners: @fedimint/firehose

fix: pin wasm-bindgen
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

fix: actually test wasm in CI
  .github/workflows/ci-nix.yml
  scripts/wasm-tests.sh
Owners: @fedimint/infra

fix: add ring with wasm32-un-un-js feature
  fedimint-client-legacy/Cargo.toml
Owners: @fedimint/firehose

deploy: 72e973d11e8b1965636e1e7ab92f4e236e8713b2
  fedimint_core/api/trait.IFederationApi.html
  fedimint_core/module/struct.InputMeta.html
  fedimint_ln_client/enum.LightningOutput.html
  fedimint_ln_common/enum.LightningOutput.html
  fedimint_server/api/trait.IFederationApi.html
  fedimint_server/module/struct.InputMeta.html
  help.html
  index.html
  search-index.js
  settings.html
  src/devimint/external.rs.html
  src/fedimint_core/api.rs.html
  src/fedimint_core/module/mod.rs.html
  src/fedimint_dummy_server/lib.rs.html
  src/fedimint_ln_common/incoming.rs.html
  src/fedimint_ln_common/lib.rs.html
  src/fedimint_ln_server/lib.rs.html
  src/fedimint_mint_server/lib.rs.html
  src/fedimint_server/consensus/mod.rs.html
  src/fedimint_server/consensus/server.rs.html
  src/fedimint_server/net/api.rs.html
  src/fedimint_wallet_server/lib.rs.html
Owners: @fedimint/firehose

feat: nixify wasm tests
  flake.nix
  nix/craneBuild.nix
  scripts/build.sh
Owners: @fedimint/infra

chore: move wasm tests to main "build" job to reuse build
  .github/workflows/ci-nix.yml
Owners: @fedimint/infra

fix: compilation failing after rebase
  fedimint-wasm-tests/src/lib.rs
Owners: @fedimint/firehose

feat: create initial implementation of atomic broadcast abstraction
  Cargo.lock
  Cargo.toml
  fedimint-atomic-broadcast/Cargo.toml
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/conversion.rs
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/db.rs
  fedimint-atomic-broadcast/src/finalization_handler.rs
  fedimint-atomic-broadcast/src/keychain.rs
  fedimint-atomic-broadcast/src/lib.rs
  fedimint-atomic-broadcast/src/network.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/src/spawner.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose, @fedimint/database

feat: create initial implementation of atomic broadcast abstraction (#2621)
  Cargo.lock
  Cargo.toml
  fedimint-atomic-broadcast/Cargo.toml
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/conversion.rs
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/db.rs
  fedimint-atomic-broadcast/src/finalization_handler.rs
  fedimint-atomic-broadcast/src/keychain.rs
  fedimint-atomic-broadcast/src/lib.rs
  fedimint-atomic-broadcast/src/network.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/src/spawner.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose, @fedimint/database

refactor(load-test-tool): use ng cli by default
  devimint/src/main.rs
  fedimint-load-test-tool/src/common.rs
Owners: @fedimint/firehose

test: add wallet tests against real bitcoind
  Cargo.lock
  crypto/aead/src/lib.rs
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/tests/fixtures.rs
  modules/fedimint-ln-tests/tests/tests.rs
  modules/fedimint-wallet-client/src/deposit.rs
  modules/fedimint-wallet-tests/Cargo.toml
  modules/fedimint-wallet-tests/tests/tests.rs
  scripts/rust-tests.sh
Owners: @fedimint/firehose, @fedimint/crypto, @fedimint/lightning, @fedimint/infra

test: add wallet tests against real bitcoind (#2660)
  Cargo.lock
  crypto/aead/src/lib.rs
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/tests/fixtures.rs
  modules/fedimint-ln-tests/tests/tests.rs
  modules/fedimint-wallet-client/src/deposit.rs
  modules/fedimint-wallet-tests/Cargo.toml
  modules/fedimint-wallet-tests/tests/tests.rs
  scripts/rust-tests.sh
Owners: @fedimint/firehose, @fedimint/crypto, @fedimint/lightning, @fedimint/infra
