Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

deploy: b2f11164099e04a629d2cf65932a976b1f610f19
  fedimint_client/backup/index.html
  fedimint_client/struct.Client.html
  fedimint_logging/all.html
  fedimint_logging/constant.LOG_CLIENT_RECOVERY_MINT.html
  fedimint_logging/index.html
  fedimint_logging/sidebar-items.js
  fedimint_logging/struct.TracingSetup.html
  fedimint_mint_client/backup/recovery/enum.MintRestoreStates.html
  fedimint_mint_client/backup/recovery/index.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreFailedState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreInProgressState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreStateMachine.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_cli/lib.rs.html
  src/fedimint_cli/ng.rs.html
  src/fedimint_client/backup.rs.html
  src/fedimint_logging/lib.rs.html
  src/fedimint_mint_client/backup/recovery.rs.html
Owners: @fedimint/firehose

deploy: e86d37491b0c669e68c59b4bd19e35cba4f2dded
  fedimint_aead/all.html
  fedimint_aead/fn.argon2.html
  fedimint_aead/fn.get_password_hash.html
  fedimint_aead/fn.random_salt.html
  fedimint_aead/index.html
  fedimint_aead/sidebar-items.js
  fedimint_testing/federation/fn.local_config_gen_params.html
  fedimint_testing/federation/index.html
  fedimint_testing/federation/struct.FederationTest.html
  fedimint_testing/fixtures/constant.TIMEOUT.html
  fedimint_testing/fixtures/fn.test_dir.html
  fedimint_testing/fixtures/index.html
  fedimint_testing/fixtures/static.BASE_PORT.html
  fedimint_testing/fixtures/struct.Fixtures.html
  fedimint_testing/fixtures/struct.LightningFixtures.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_aead/lib.rs.html
  src/fedimint_testing/federation.rs.html
  src/fedimint_testing/fixtures.rs.html
  src/fedimint_wallet_client/deposit.rs.html
Owners: @fedimint/firehose

fix: remove two workspaces
  Cargo.lock
  Cargo.toml
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

fix: broken fedimint-wasm-tests
  fedimint-wasm-tests/Cargo.toml
  fedimint-wasm-tests/src/lib.rs
Owners: @fedimint/firehose

fix: pin wasm-bindgen
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

fix: add ring with wasm32-un-un-js feature
  fedimint-client-legacy/Cargo.toml
Owners: @fedimint/firehose

chore: update nixpkgs
  flake.lock
Owners: @fedimint/firehose

fix: faucet spawn after cln
  devimint/src/lib.rs
Owners: @fedimint/firehose

fix: actually test wasm in CI
  .github/workflows/ci-nix.yml
  scripts/wasm-tests.sh
Owners: @fedimint/infra

feat: nixify wasm tests
  flake.nix
  nix/craneBuild.nix
  scripts/build.sh
Owners: @fedimint/infra

chore: move wasm tests to main "build" job to reuse build
  .github/workflows/ci-nix.yml
Owners: @fedimint/infra

fix: compilation failing after rebase
  fedimint-wasm-tests/src/lib.rs
Owners: @fedimint/firehose

feat: federation clients create invoice without gateway
  fedimint-client/src/lib.rs
  fedimint-core/src/config.rs
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/firehose

test: validate internal payment scenarios w/o gateways
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose

feat: federation clients check internal payment markers
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/firehose

deploy: 87c951e049e7759e875db9663643997aca2d5b52
  fedimint_load_test_tool/all.html
  fedimint_load_test_tool/common/fn.await_spend_notes_finish.html
  fedimint_load_test_tool/common/fn.build_client.html
  fedimint_load_test_tool/common/fn.cln_create_invoice.html
  fedimint_load_test_tool/common/fn.cln_wait_invoice_payment.html
  fedimint_load_test_tool/common/fn.do_spend_notes.html
  fedimint_load_test_tool/common/fn.gateway_pay_invoice.html
  fedimint_load_test_tool/common/fn.get_command_for_alias.html
  fedimint_load_test_tool/common/fn.get_note_summary.html
  fedimint_load_test_tool/common/fn.get_notes_cli.html
  fedimint_load_test_tool/common/fn.lnd_create_invoice.html
  fedimint_load_test_tool/common/fn.lnd_wait_invoice_payment.html
  fedimint_load_test_tool/common/fn.parse_ecash.html
  fedimint_load_test_tool/common/fn.parse_node_pub_key.html
  fedimint_load_test_tool/common/fn.reissue_notes.html
  fedimint_load_test_tool/common/fn.remint_denomination.html
  fedimint_load_test_tool/common/fn.switch_default_gateway.html
  fedimint_load_test_tool/common/fn.try_get_notes_cli.html
  fedimint_load_test_tool/common/index.html
  fedimint_load_test_tool/common/sidebar-items.js
  fedimint_load_test_tool/common/struct.ClnLightningCli.html
  fedimint_load_test_tool/common/struct.FedimintCli.html
  fedimint_load_test_tool/common/struct.GatewayClnCli.html
  fedimint_load_test_tool/common/struct.GatewayLndCli.html
  fedimint_load_test_tool/common/struct.LnCli.html
  implementors/devimint/util/trait.ToCmdExt.js
  search-index.js
  src/fedimint_load_test_tool/common.rs.html
Owners: @fedimint/firehose

wip: update to bitcoin 0.30.0
  Cargo.lock
  Cargo.toml
  crypto/derive-secret/Cargo.toml
  crypto/tbs/src/lib.rs
  devimint/Cargo.toml
  fedimint-bitcoind/Cargo.toml
  fedimint-cli/Cargo.toml
  fedimint-client-legacy/Cargo.toml
  fedimint-client/Cargo.toml
  fedimint-client/src/backup.rs
  fedimint-core/Cargo.toml
  fedimint-core/src/core.rs
  fedimint-core/src/encoding/btc.rs
  fedimint-server/Cargo.toml
  fedimint-testing/Cargo.toml
  fedimintd/Cargo.toml
  gateway/ln-gateway/Cargo.toml
  integrationtests/Cargo.toml
  modules/fedimint-dummy-client/Cargo.toml
  modules/fedimint-dummy-common/Cargo.toml
  modules/fedimint-dummy-server/Cargo.toml
  modules/fedimint-ln-client/Cargo.toml
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-server/Cargo.toml
  modules/fedimint-mint-client/Cargo.toml
  modules/fedimint-mint-common/Cargo.toml
  modules/fedimint-mint-server/Cargo.toml
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-common/Cargo.toml
  modules/fedimint-wallet-server/Cargo.toml
  modules/fedimint-wallet-tests/Cargo.toml
  recoverytool/Cargo.toml
Owners: @fedimint/firehose, @fedimint/crypto, @fedimint/lightning

feat: embed config in devimint binary
  devimint/src/cfg/bitcoin.conf
  devimint/src/cfg/electrs.toml
  devimint/src/cfg/lightningd.conf
  devimint/src/cfg/lnd.conf
  devimint/src/vars.rs
Owners: @fedimint/firehose

feat: lightning reconnect
  devimint/src/lib.rs
  devimint/src/main.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
Owners: @fedimint/firehose, @fedimint/lightning

rename: rename mint_pub_key to gateway_pub_key
  fedimint-client-legacy/src/lib.rs
  fedimint-client-legacy/src/ln/mod.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning

deploy: f69802966029f1115ec59a5f38ac552e6bb97c71
  fedimint_ln_client/struct.LightningGateway.html
  fedimint_ln_common/struct.LightningGateway.html
  search-index.js
  src/fedimint_client_legacy/lib.rs.html
  src/fedimint_client_legacy/ln/mod.rs.html
  src/fedimint_ln_client/lib.rs.html
  src/fedimint_ln_common/lib.rs.html
  src/fedimint_ln_server/lib.rs.html
  src/ln_gateway/ng/mod.rs.html
Owners: @fedimint/firehose

fix: include devimint/src/cfg in filterWorkspaceFiles
  nix/craneCommon.nix
Owners: @fedimint/infra

deploy: 579864188b4dde80fd0474a100911309e2487690
  devimint/fn.dev_fed.html
  devimint/index.html
  devimint/struct.Faucet.html
  devimint/struct.Gatewayd.html
  fedimint_testing/ln/real/index.html
  fedimint_testing/ln/real/struct.ClnLightningTest.html
  fedimint_testing/ln/real/struct.LndLightningTest.html
  fedimint_testing/ln/trait.LightningTest.html
  help.html
  implementors/core/marker/trait.Freeze.js
  implementors/core/panic/unwind_safe/trait.RefUnwindSafe.js
  implementors/core/panic/unwind_safe/trait.UnwindSafe.js
  index.html
  ln_gateway/all.html
  ln_gateway/constant.DEFAULT_FEES.html
  ln_gateway/constant.GW_ANNOUNCEMENT_TTL.html
  ln_gateway/constant.INITIAL_SCID.html
  ln_gateway/constant.ROUTE_HINT_RETRIES.html
  ln_gateway/constant.ROUTE_HINT_RETRY_SLEEP.html
  ln_gateway/enum.GatewayError.html
  ln_gateway/enum.LightningMode.html
  ln_gateway/index.html
  ln_gateway/lnd/index.html
  ln_gateway/lnd/struct.GatewayLndClient.html
  ln_gateway/lnrpc_client/constant.MAX_LIGHTNING_RETRIES.html
  ln_gateway/lnrpc_client/index.html
  ln_gateway/lnrpc_client/sidebar-items.js
  ln_gateway/lnrpc_client/struct.NetworkLnRpcClient.html
  ln_gateway/lnrpc_client/trait.ILnRpcClient.html
  ln_gateway/lnrpc_client/type.RouteHtlcStream.html
  ln_gateway/struct.Gateway.html
  ln_gateway/type.Result.html
  search-index.js
  settings.html
  src/devimint/lib.rs.html
  src/fedimint_testing/ln/real.rs.html
  src/ln_gateway/lib.rs.html
  src/ln_gateway/lnd.rs.html
  src/ln_gateway/lnrpc_client.rs.html
Owners: @fedimint/firehose

fix: lazily construct gateway rpc client
  gateway/cli/src/main.rs
Owners: @fedimint/lightning

feat: completion for gateway-cli and fedimint-cli
  Cargo.lock
  fedimint-cli/Cargo.toml
  fedimint-cli/src/lib.rs
  gateway/cli/Cargo.toml
  gateway/cli/src/main.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: use completions in user shells
  scripts/completion.sh
  scripts/user-shell.sh
Owners: @fedimint/infra

deploy: a07e3803d547e2e357d620fa69372e16036f4814
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
  gateway_cli/enum.Commands.html
  gateway_cli/fn.main.html
  gateway_cli/fn.print_response.html
  gateway_cli/fn.source_password.html
  gateway_cli/index.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_cli/lib.rs.html
  src/gateway_cli/main.rs.html
Owners: @fedimint/firehose

chore: improve error message for conventional commits
  misc/git-hooks/commit-msg
Owners: @fedimint/infra

fix: git --literal-pathspecs commit
  misc/git-hooks/pre-commit
Owners: @fedimint/infra

deploy: cdcaf79b5ae7501d386ab530a3a3e25737f32539
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

chore: update crane
  flake.lock
  flake.nix
  nix/craneCommon.nix
Owners: @fedimint/firehose, @fedimint/infra

feat: fedimint metrics
  Cargo.lock
  Cargo.toml
  fedimint-metrics/Cargo.toml
  fedimint-metrics/README.md
  fedimint-metrics/src/main.rs
Owners: @fedimint/firehose

feature: real LN tests
  Cargo.lock
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/tests/authentication_tests.rs
  gateway/ln-gateway/tests/fixtures.rs
  gateway/ln-gateway/tests/integration_tests.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-tests/Cargo.toml
  modules/fedimint-ln-tests/tests/tests.rs
  modules/fedimint-mint-tests/tests/tests.rs
  modules/fedimint-wallet-tests/tests/tests.rs
  scripts/rust-tests.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

refactor: make a primary module a runtime concept, not type system one
  fedimint-client/src/backup.rs
  fedimint-client/src/lib.rs
  fedimint-client/src/module/gen.rs
  fedimint-client/src/module/mod.rs
  fedimint-core/src/module/registry.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

fix: remove the concept of epochs from the dummy module
  modules/fedimint-dummy-server/src/db.rs
  modules/fedimint-dummy-server/src/lib.rs
Owners: @fedimint/database, @fedimint/firehose

feature: real LN tests (#2688)
  Cargo.lock
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/tests/authentication_tests.rs
  gateway/ln-gateway/tests/fixtures.rs
  gateway/ln-gateway/tests/integration_tests.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-tests/Cargo.toml
  modules/fedimint-ln-tests/tests/tests.rs
  modules/fedimint-mint-tests/tests/tests.rs
  modules/fedimint-wallet-tests/tests/tests.rs
  scripts/rust-tests.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

fix: update some commands
  docs/dev-running.md
Owners: @fedimint/firehose

deploy: d4b3eeb5156f19ee3aaf0014e55782eee82eee38
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

feat: common API version discovery
  fedimint-cli/src/ng.rs
  fedimint-client/src/lib.rs
  fedimint-client/src/module/mod.rs
  fedimint-core/src/api.rs
  fedimint-core/src/config.rs
  fedimint-core/src/module/mod.rs
  fedimint-core/src/query.rs
  fedimint-server/src/config/mod.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose, @fedimint/consensus, @fedimint/lightning

deploy: 7a38c8cb9f524c70ec545c02629c1bd4a403cb0c
  crates.js
  devimint/fn.dev_fed.html
  devimint/index.html
  fedimint_server/api/enum.OutputOutcomeError.html
  fedimint_server/config/enum.DkgError.html
  fedimint_server/config/trait.SGroup.html
  fedimint_server/encoding/trait.Decodable.html
  fedimint_server/encoding/trait.DynEncodable.html
  fedimint_server/encoding/trait.Encodable.html
  fedimint_server/fmt_utils/trait.AbbreviatedDebug.html
  fedimint_server/trait.NumPeers.html
  fedimint_wallet_client/tweakable/trait.Contract.html
  fedimint_wasm_tests/all.html
  fedimint_wasm_tests/faucet/fn.connect_string.html
  fedimint_wasm_tests/faucet/fn.generate_invoice.html
  fedimint_wasm_tests/faucet/fn.pay_invoice.html
  fedimint_wasm_tests/faucet/index.html
  fedimint_wasm_tests/faucet/sidebar-items.js
  fedimint_wasm_tests/fn.client.html
  fedimint_wasm_tests/index.html
  fedimint_wasm_tests/sidebar-items.js
  fedimint_wasm_tests/tests/fn.__wbgt_build_client_0.html
  fedimint_wasm_tests/tests/fn.__wbgt_receive_1.html
  fedimint_wasm_tests/tests/fn.__wbgt_receive_and_pay_2.html
  fedimint_wasm_tests/tests/fn.build_client.html
  fedimint_wasm_tests/tests/fn.receive.html
  fedimint_wasm_tests/tests/fn.receive_and_pay.html
  fedimint_wasm_tests/tests/index.html
  fedimint_wasm_tests/tests/sidebar-items.js
  help.html
  index.html
  search-index.js
  settings.html
  source-files.js
  src/devimint/lib.rs.html
  src/fedimint_wasm_tests/lib.rs.html
Owners: @fedimint/firehose

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto
