Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

feat: Gatewayd NG Client
  fedimint-core/src/config.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/gateway.rs
  gateway/cli/src/main.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_client.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  gateway/ln-gateway/tests/authentication_tests.rs
  integrationtests/tests/fixtures/mod.rs
  scripts/pegin.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/database, @fedimint/infra

remove: remove actor.rs
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/firehose

remove: remove all old lightning tests
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/firehose

remove: remove dependency on legacy client
  Cargo.lock
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/tests.rs
  gateway/ln-gateway/src/types.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: fix broken lightning test
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/database, @fedimint/firehose

remove: disable lightning reconnection test
  devimint/src/federation.rs
  devimint/src/main.rs
Owners: @fedimint/firehose

feat: load test tool
  Cargo.lock
  Cargo.toml
  devimint/src/main.rs
  devimint/src/util.rs
  fedimint-core/src/module/mod.rs
  fedimint-load-test-tool/Cargo.toml
  fedimint-load-test-tool/src/common.rs
  fedimint-load-test-tool/src/main.rs
  flake.nix
  nix/craneBuild.nix
  scripts/load-test-tool-test.sh
  scripts/test-ci-all.sh
Owners: @fedimint/firehose, @fedimint/infra

feature: standardize on get_tx_block_height
  fedimint-bitcoind/src/bitcoincore_rpc.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/real.rs
  modules/fedimint-wallet-server/src/lib.rs
Owners: @fedimint/firehose

feat: assert more states with internal tests
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose

Splits up clients into separate features for wasm-compatibility
  Cargo.lock
  devimint/src/bin/faucet.rs
  devimint/src/external.rs
  fedimint-bitcoind/Cargo.toml
  fedimint-bitcoind/src/bitcoincore.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
  fedimint-bitcoind/src/electrum.rs
  fedimint-bitcoind/src/esplora.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/real.rs
  modules/fedimint-wallet-client/Cargo.toml
Owners: @fedimint/firehose

chore: shorter fmt::Debug impl for MintRestoreInProgressState
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

fix: abbreviate output in a very common debug statement
  fedimint-client/src/sm/executor.rs
Owners: @fedimint/firehose

chore: bump nixpkgs
  flake.lock
  flake.nix
Owners: @fedimint/firehose, @fedimint/infra

Add client functionality to bitcoin rpc clients (#2632)
  Cargo.lock
  devimint/src/bin/faucet.rs
  devimint/src/external.rs
  fedimint-bitcoind/Cargo.toml
  fedimint-bitcoind/src/bitcoincore.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
  fedimint-bitcoind/src/electrum.rs
  fedimint-bitcoind/src/esplora.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/real.rs
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-server/src/lib.rs
Owners: @fedimint/firehose

fix: bump everyone and everything
  flake.lock
Owners: @fedimint/firehose

deploy: a420aaab9698fa4a804cba8bca644eb1ef295e76
  fedimint_client/sm/executor/constant.EXECUTOR_POLL_INTERVAL.html
  fedimint_client/sm/executor/constant.MAX_DB_ATTEMPTS.html
  fedimint_client/sm/executor/enum.ExecutorDbPrefixes.html
  fedimint_client/sm/executor/index.html
  fedimint_client/sm/executor/struct.ActiveModuleOperationStateKeyPrefix.html
  fedimint_client/sm/executor/struct.ActiveOperationStateKeyPrefix.html
  fedimint_client/sm/executor/struct.ActiveState.html
  fedimint_client/sm/executor/struct.ActiveStateKey.html
  fedimint_client/sm/executor/struct.ActiveStateKeyPrefix.html
  fedimint_client/sm/executor/struct.Executor.html
  fedimint_client/sm/executor/struct.ExecutorBuilder.html
  fedimint_client/sm/executor/struct.ExecutorInner.html
  fedimint_client/sm/executor/struct.InactiveModuleOperationStateKeyPrefix.html
  fedimint_client/sm/executor/struct.InactiveOperationStateKeyPrefix.html
  fedimint_client/sm/executor/struct.InactiveState.html
  fedimint_client/sm/executor/struct.InactiveStateKey.html
  fedimint_client/sm/executor/struct.InactiveStateKeyPrefix.html
  fedimint_client/sm/executor/type.ContextGen.html
  fedimint_client/sm/struct.ActiveState.html
  fedimint_client/sm/struct.Executor.html
  fedimint_client/sm/struct.ExecutorBuilder.html
  fedimint_client/sm/struct.InactiveState.html
  fedimint_mint_client/backup/recovery/constant.PROGRESS_SNAPSHOT_EPOCHS.html
  fedimint_mint_client/backup/recovery/enum.MintRestoreStates.html
  fedimint_mint_client/backup/recovery/index.html
  fedimint_mint_client/backup/recovery/struct.CompressedBlindedMessage.html
  fedimint_mint_client/backup/recovery/struct.EcashRecoveryFinalState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreFailedState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreInProgressState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreStateMachine.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_client/sm/executor.rs.html
  src/fedimint_mint_client/backup/recovery.rs.html
Owners: @fedimint/firehose

deploy: 1114bcd14be721653306c700c488a8fee00bd52c
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

fix: uninitalized error in cln compilation
  flake.nix
Owners: @fedimint/infra

experiment: tests fail when asserting balance sheet sums to zero
  fedimint-server/src/consensus/mod.rs
Owners: @fedimint/consensus

prevent the relay loop from hanging if the channels to become full
  fedimint-atomic-broadcast/src/broadcast.rs
Owners: @fedimint/firehose

create an initial implementation
  Cargo.toml
  fedimint-atomic-broadcast/Cargo.toml
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/conversion.rs
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/db.rs
  fedimint-atomic-broadcast/src/finalization_handler.rs
  fedimint-atomic-broadcast/src/keychain.rs
  fedimint-atomic-broadcast/src/lib.rs
  fedimint-atomic-broadcast/src/network.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/src/spawner.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose, @fedimint/database

fix error from rebasing
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/session.rs
Owners: @fedimint/firehose

explain the interplay with fedimint consensus and use unstable formatting features
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/db.rs
  fedimint-atomic-broadcast/src/keychain.rs
  fedimint-atomic-broadcast/src/lib.rs
  fedimint-atomic-broadcast/src/network.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose, @fedimint/database

remove unecessary cloning
  fedimint-atomic-broadcast/src/broadcast.rs
Owners: @fedimint/firehose

log error if consensus item length is bigger than BYTE_LIMIT
  fedimint-atomic-broadcast/src/data_provider.rs
Owners: @fedimint/firehose

use fedimint_core::task::sleep to please the linter
  Cargo.lock
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose

fix: clippy and cargo issues
  Cargo.lock
  fedimint-atomic-broadcast/src/broadcast.rs
  fedimint-atomic-broadcast/src/data_provider.rs
  fedimint-atomic-broadcast/src/keychain.rs
  fedimint-atomic-broadcast/src/network.rs
  fedimint-atomic-broadcast/src/session.rs
  fedimint-atomic-broadcast/tests/integration.rs
Owners: @fedimint/firehose

fix: remove two workspaces
  Cargo.lock
  Cargo.toml
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

fix: broken fedimint-wasm-tests
  fedimint-wasm-tests/Cargo.toml
  fedimint-wasm-tests/src/lib.rs
Owners: @fedimint/firehose

fix: faucet spawn after cln
  devimint/src/lib.rs
Owners: @fedimint/firehose

fix: pin wasm-bindgen
  fedimint-wasm-tests/Cargo.toml
Owners: @fedimint/firehose

chore: update nixpkgs
  flake.lock
Owners: @fedimint/firehose

fix: actually test wasm in CI
  .github/workflows/ci-nix.yml
  scripts/wasm-tests.sh
Owners: @fedimint/infra

fix: sort gateway route hints by incoming capacity and take 2
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lnd.rs
Owners: @fedimint/lightning

fix: add ring with wasm32-un-un-js feature
  fedimint-client-legacy/Cargo.toml
Owners: @fedimint/firehose

fix: fix cli test
  devimint/src/federation.rs
Owners: @fedimint/firehose

fix: integration tests passing
  fedimint-testing/src/gateway.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

feature: decouple wallet client from depending on esplora
  Cargo.lock
  devimint/src/federation.rs
  fedimint-bitcoind/src/bitcoincore.rs
  fedimint-bitcoind/src/electrum.rs
  fedimint-bitcoind/src/esplora.rs
  fedimint-bitcoind/src/lib.rs
  fedimint-cli/src/lib.rs
  fedimint-load-test-tool/src/common.rs
  fedimint-testing/src/btc/mock.rs
  gateway/ln-gateway/src/client.rs
  integrationtests/tests/fixtures/mod.rs
  modules/fedimint-dummy-client/src/states.rs
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-client/src/deposit.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-common/src/config.rs
  modules/fedimint-wallet-server/src/lib.rs
  modules/fedimint-wallet-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: remove run loop to allow payments to be parallel
  fedimint-testing/src/gateway.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix(ln-server): save output outcome for outgoing contract cancellations
  fedimint-client-legacy/src/transaction.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/firehose

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto
