Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

fix: add back aquamarine
  Cargo.lock
  modules/fedimint-ln-client/Cargo.toml
Owners: @fedimint/firehose

chore: yarn build in just run-ui
  justfile
Owners: @fedimint/firehose

chore: remove unused deps
  Cargo.lock
  fedimint-client-legacy/Cargo.toml
  fedimint-rocksdb/Cargo.toml
  fedimint-sqlite/Cargo.toml
  fedimintd/Cargo.toml
  gateway/ln-gateway/Cargo.toml
  integrationtests/Cargo.toml
  modules/fedimint-ln-client/Cargo.toml
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-server/Cargo.toml
  modules/fedimint-mint-common/Cargo.toml
  modules/fedimint-mint-tests/Cargo.toml
  modules/fedimint-wallet-client/Cargo.toml
  modules/fedimint-wallet-server/Cargo.toml
Owners: @fedimint/firehose, @fedimint/database, @fedimint/lightning

fix: add false-positive unused dep
  modules/fedimint-ln-client/Cargo.toml
Owners: @fedimint/firehose

fix(ui): fix misspelled dev command, remove redundant yarn run in package.json scripts
  fedimint-ui/packages/ui/package.json
Owners: @fedimint/firehose

chore: rename some things around forced epochs
  fedimint-server/src/consensus/server.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/consensus, @fedimint/firehose

feat(wallet-client): implement withdrawals
  devimint/src/external.rs
  devimint/src/main.rs
  fedimint-cli/src/ng.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-client/src/withdraw.rs
Owners: @fedimint/firehose

fix(client-ng): give api object to module clients
  fedimint-client/src/lib.rs
  fedimint-client/src/module/gen.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

feat(client-ng): implement operation log paging
  fedimint-client/src/db.rs
  fedimint-client/src/oplog.rs
Owners: @fedimint/database, @fedimint/firehose

fix(client-ng): make operation log its own module
  fedimint-client/src/db.rs
  fedimint-client/src/lib.rs
  fedimint-client/src/oplog.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/database, @fedimint/firehose, @fedimint/lightning

fix(ui): ensure ui build runs before dev tasks
  fedimint-ui/package.json
  fedimint-ui/turbo.json
Owners: @fedimint/firehose

fix: change account back to wait_account
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-common/src/api.rs
Owners: @fedimint/lightning, @fedimint/firehose

fix: test both gateways and rename GatewayFixtures
  fedimint-testing/src/fixtures.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: add OfferDoesNotExist and return Preimage
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

refactor: eliminate gateway tests dependency on mint module
  Cargo.lock
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-dummy-client/Cargo.toml
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-dummy-client/src/states.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-tests/tests/tests.rs
  scripts/gw-test.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

fix(core): allow consensus hashing using arbitrary algorithms
  fedimint-core/src/encoding/mod.rs
  fedimint-core/src/epoch.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

feat(wallet-client): add `yield_now` to stream loop
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

fix(ln-client): check lightning invoice currency
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose

fix(mint-client): don't fail when reissuing own notes
  devimint/src/main.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

chore: add some logging and timings to analyze consensus processing perf
  fedimint-core/src/db/mod.rs
  fedimint-core/src/epoch.rs
  fedimint-server/src/consensus/mod.rs
  fedimint-server/src/consensus/server.rs
Owners: @fedimint/database, @fedimint/firehose, @fedimint/consensus

fix(wallet-client): cache deposit operation outcome
  fedimint-cli/src/ng.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

feature(ui): add yarn dev command, and individual app dev commands that also dev any dependencies
  fedimint-ui/README.md
  fedimint-ui/package.json
  fedimint-ui/turbo.json
Owners: @fedimint/firehose

fix: use aquamarine and box for state
  Cargo.lock
  fedimint-testing/src/federation.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  modules/fedimint-dummy-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: don't accumulate empty epochs on rejoin requests
  fedimint-server/src/consensus/server.rs
Owners: @fedimint/consensus

feat: gateway outgoing payments
  Cargo.lock
  fedimint-cli/src/ng.rs
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-common/src/api.rs
  modules/fedimint-ln-common/src/config.rs
  modules/fedimint-ln-common/src/lib.rs
  scripts/gw-test.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

refactor: remove LnRpcAdapter and simplify lightning test clients
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose

test(client-ng): add caching test
  fedimint-client/src/oplog.rs
Owners: @fedimint/firehose

feat: fund client ng from devimint dev-fed
  devimint/src/federation.rs
  devimint/src/main.rs
  scripts/user-shell.sh
Owners: @fedimint/firehose, @fedimint/infra

remove: remove actor.rs
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/firehose

feat: assert more states with internal tests
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose

fix: fix broken lightning test
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/database, @fedimint/firehose

feat: gateway incoming state machine
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/receive.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/lightning, @fedimint/firehose

feat: Gatewayd NG Client
  fedimint-core/src/config.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/gateway.rs
  gateway/cli/src/main.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_client.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  gateway/ln-gateway/tests/authentication_tests.rs
  integrationtests/tests/fixtures/mod.rs
  scripts/pegin.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/database, @fedimint/infra

chore: shorter fmt::Debug impl for MintRestoreInProgressState
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

feat: load test tool
  Cargo.lock
  Cargo.toml
  devimint/src/main.rs
  devimint/src/util.rs
  fedimint-core/src/module/mod.rs
  fedimint-load-test-tool/Cargo.toml
  fedimint-load-test-tool/src/common.rs
  fedimint-load-test-tool/src/main.rs
  flake.nix
  nix/craneBuild.nix
  scripts/load-test-tool-test.sh
  scripts/test-ci-all.sh
Owners: @fedimint/firehose, @fedimint/infra

correct ln-invoice command
  docs/dev-running.md
Owners: @fedimint/firehose

remove: remove all old lightning tests
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
Owners: @fedimint/lightning, @fedimint/firehose

fix: integration tests passing
  fedimint-testing/src/gateway.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: choose active gateway randomly
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/firehose

fix: abbreviate output in a very common debug statement
  fedimint-client/src/sm/executor.rs
Owners: @fedimint/firehose

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto
