Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto

deploy: 448e56dd7bc293996f22f77d18bf3ae23d49c040
  devimint/vars/fn.mkdir.html
  devimint/vars/fn.utf8.html
  devimint/vars/index.html
  devimint/vars/macro.declare_vars.html
  devimint/vars/struct.Fedimintd.html
  devimint/vars/struct.Global.html
  devimint/vars/trait.ToEnvVar.html
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
  help.html
  index.html
  settings.html
  src/devimint/vars.rs.html
Owners: @fedimint/firehose

fix: only return the git hash
  gateway/cli/src/main.rs
Owners: @fedimint/lightning

fix: remove check for git HEAD file using relative path
  fedimint-build/src/lib.rs
Owners: @fedimint/firehose

refactor: use gateway public key instead of node public key
  devimint/src/federation.rs
  devimint/src/lib.rs
  fedimint-cli/src/lib.rs
  fedimint-cli/src/ng.rs
  fedimint-client-legacy/src/lib.rs
  fedimint-client-legacy/src/utils.rs
  fedimint-load-test-tool/src/common.rs
  fedimint-load-test-tool/src/main.rs
  fedimint-wasm-tests/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-tests/tests/tests.rs
  scripts/user-shell.sh
Owners: @fedimint/firehose, @fedimint/infra

feat(load-test-tool): add optional sleep after ln payment
  fedimint-load-test-tool/src/main.rs
Owners: @fedimint/firehose

feat: a "general" federation error
  fedimint-core/src/api.rs
  fedimint-core/src/query.rs
Owners: @fedimint/firehose

chore(fedimint-cli): move all hidden commands under one hidden group
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

feat: add version-hash-tests
  devimint/src/main.rs
  fedimint-build/src/lib.rs
  nix/craneBuild.nix
  nix/craneCommon.nix
Owners: @fedimint/firehose, @fedimint/infra

refactor: migrate peg in and out test
  fedimint-core/src/api.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/mod.rs
  fedimint-testing/src/btc/real.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
  modules/fedimint-wallet-client/src/api.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-server/src/lib.rs
  modules/fedimint-wallet-tests/tests/tests.rs
Owners: @fedimint/firehose

fix: handle fixup! correctly in commit-msg hook
  misc/git-hooks/commit-msg
Owners: @fedimint/infra

deploy: 9718862664c175defa9847e9866f2768507fc95a
  fedimint_load_test_tool/fn._test_connect_std_client.html
  fedimint_load_test_tool/fn.do_user_task.html
  fedimint_load_test_tool/fn.get_cfg_from_args.html
  fedimint_load_test_tool/fn.get_gateway_public_key.html
  fedimint_load_test_tool/fn.handle_metrics_summary.html
  fedimint_load_test_tool/fn.main.html
  fedimint_load_test_tool/fn.run_load_test.html
  fedimint_load_test_tool/fn.test_connect_raw_client.html
  fedimint_load_test_tool/fn.test_download_config.html
  fedimint_load_test_tool/fn.url_to_string_with_default_port.html
  fedimint_load_test_tool/index.html
  fedimint_load_test_tool/struct.EventMetricComparison.html
  fedimint_load_test_tool/struct.EventMetricSummary.html
  fedimint_load_test_tool/struct.LoadTestArgs.html
  fedimint_load_test_tool/struct.MetricEvent.html
  search-index.js
  src/fedimint_load_test_tool/main.rs.html
Owners: @fedimint/firehose

refactor: migrate peg in and out test (#2691)
  fedimint-core/src/api.rs
  fedimint-testing/src/btc/mock.rs
  fedimint-testing/src/btc/mod.rs
  fedimint-testing/src/btc/real.rs
  integrationtests/tests/fixtures/mod.rs
  integrationtests/tests/tests.rs
  modules/fedimint-wallet-client/src/api.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-server/src/lib.rs
  modules/fedimint-wallet-tests/tests/tests.rs
Owners: @fedimint/firehose

ci: WIP add version-hash-tests to test-ci-all.sh
  scripts/test-ci-all.sh
  scripts/version-hash-tests.sh
Owners: @fedimint/infra

feat(gateway-cli): Show balance per federation in info
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  gateway/ln-gateway/tests/integration_tests.rs
Owners: @fedimint/lightning

feat(gateway-cli): Update FederationInfo struct field name from balance -> balance_msat to be more descriptive
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/tests/integration_tests.rs
Owners: @fedimint/lightning

fix: use parse_fedimint_amount in ng Spend command
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

refactor(devimint): add Federation::client_balance
  devimint/src/federation.rs
  devimint/src/main.rs
Owners: @fedimint/firehose

feat: move pegin gateway to dev-fed command
  devimint/src/main.rs
  scripts/user-shell.sh
  scripts/wasm-tests.sh
Owners: @fedimint/firehose, @fedimint/infra

feat: move fedimint-cli commands in groups
  devimint/src/federation.rs
  devimint/src/lib.rs
  devimint/src/main.rs
  docs/dev-running.md
  fedimint-cli/src/lib.rs
  scripts/pegin.sh
Owners: @fedimint/firehose, @fedimint/infra

chore: add help text for ClientNg Commands
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

feat: make ng client default in fedimint-cli and remove legacy
  Cargo.lock
  devimint/src/federation.rs
  devimint/src/main.rs
  docs/dev-running.md
  fedimint-cli/Cargo.toml
  fedimint-cli/src/client.rs
  fedimint-cli/src/lib.rs
  fedimint-cli/src/utils.rs
  fedimint-client/src/lib.rs
  fedimint-load-test-tool/src/common.rs
  fedimint-load-test-tool/src/main.rs
Owners: @fedimint/firehose

fix: daily check build failing
  Cargo.lock
  gateway/cli/Cargo.toml
  modules/fedimint-ln-common/Cargo.toml
Owners: @fedimint/firehose, @fedimint/lightning

deploy: a23c178d939c14721b4ecab6db743529ae0229a9
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

feat(load-test-tool): Added README.md
  fedimint-load-test-tool/README.md
Owners: @fedimint/firehose

deploy: 8f67f85009eb2e450dcce45dce7f28f6b69b54e1
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

fix: change state machines execution from quadratic to linear time
  fedimint-client/src/sm/executor.rs
  fedimint-client/src/sm/state.rs
Owners: @fedimint/firehose

fix(nix): `nix flake show` broken
  nix/craneBuild.nix
Owners: @fedimint/infra

feat(nix): `nix build .#ci.<binary>`
  flake.nix
Owners: @fedimint/infra

chore: unify `gateway-cli version-hash` output
  gateway/cli/src/main.rs
Owners: @fedimint/lightning

feat(ci): verify versions hashes were set
  .github/workflows/ci-nix.yml
Owners: @fedimint/infra

fix: remove the concept of epochs from the mint module
  integrationtests/tests/tests.rs
  modules/fedimint-mint-common/src/db.rs
  modules/fedimint-mint-server/src/lib.rs
Owners: @fedimint/firehose, @fedimint/database

fix: remove the concept of epochs from the lightning module
  modules/fedimint-ln-common/src/db.rs
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/database, @fedimint/firehose

deploy: ee8c6db636bbf9821716feb5fd1a1deac3a51072
  src/gateway_cli/main.rs.html
Owners: @fedimint/firehose

feat: fedimint-metrics
  Cargo.lock
  Cargo.toml
  devimint/src/federation.rs
  devimint/src/vars.rs
  fedimint-metrics/Cargo.toml
  fedimint-metrics/README.md
  fedimint-metrics/src/lib.rs
  fedimintd/Cargo.toml
  fedimintd/src/fedimintd.rs
  modules/fedimint-ln-server/Cargo.toml
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/firehose

chore: ban `Instant::now` via semgrep
  .semgrep.all.yaml
  fedimint-core/src/api.rs
  fedimint-core/src/query.rs
Owners: @fedimint/firehose

fix: cargo udeps failing in daily check
  Cargo.lock
  modules/fedimint-mint-server/Cargo.toml
Owners: @fedimint/firehose

chore: check `cargo udeps` on every PR
  .github/workflows/ci-nix.yml
  .github/workflows/daily.yml
Owners: @fedimint/infra

chore: optimize CI's `cargo udeps` derivation caching
  flake.nix
  nix/craneBuild.nix
Owners: @fedimint/infra

refactor: move common version discovery to module gen (from module)
  fedimint-client/src/lib.rs
  fedimint-client/src/module/gen.rs
  fedimint-client/src/module/mod.rs
  fedimint-core/src/core/server.rs
  fedimint-core/src/module/mod.rs
  fedimint-server/src/config/mod.rs
  fedimint-server/src/consensus/server.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-dummy-server/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-server/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-mint-server/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-server/src/lib.rs
Owners: @fedimint/firehose, @fedimint/consensus, @fedimint/lightning

chore: `Client::get_config` doesn't need to be async
  fedimint-cli/src/lib.rs
  fedimint-client/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning
