Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

feat: gateway outgoing payments
  Cargo.lock
  fedimint-cli/src/ng.rs
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-common/src/api.rs
  modules/fedimint-ln-common/src/config.rs
  modules/fedimint-ln-common/src/lib.rs
  scripts/gw-test.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

refactor: eliminate gateway tests dependency on mint module
  Cargo.lock
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-dummy-client/Cargo.toml
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-dummy-client/src/states.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-tests/tests/tests.rs
  scripts/gw-test.sh
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/infra

fix: make client compatible with old federations
  fedimint-client/src/lib.rs
  modules/fedimint-ln-common/src/config.rs
  modules/fedimint-wallet-common/src/config.rs
Owners: @fedimint/firehose

chore: add some logging and timings to analyze consensus processing perf
  fedimint-core/src/db/mod.rs
  fedimint-core/src/epoch.rs
  fedimint-server/src/consensus/mod.rs
  fedimint-server/src/consensus/server.rs
Owners: @fedimint/database, @fedimint/firehose, @fedimint/consensus

fix: don't accumulate empty epochs on rejoin requests
  fedimint-server/src/consensus/server.rs
Owners: @fedimint/consensus

chore: rename some things around forced epochs
  fedimint-server/src/consensus/server.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/consensus, @fedimint/firehose

fix: use aquamarine and box for state
  Cargo.lock
  fedimint-testing/src/federation.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  modules/fedimint-dummy-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

deploy: 158fe4132518439c273e23615a3d1fb61b6e44c0
  fedimint_server/consensus/server/fn.module_parse_outcome.html
  fedimint_server/consensus/server/index.html
  fedimint_server/consensus/server/struct.ConsensusServer.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_server/consensus/server.rs.html
Owners: @fedimint/firehose

fix: test both gateways and rename GatewayFixtures
  fedimint-testing/src/fixtures.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

fix: add OfferDoesNotExist and return Preimage
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/pay.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

fix: change account back to wait_account
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-common/src/api.rs
Owners: @fedimint/lightning, @fedimint/firehose

Use cookie file for auth when username does not exist
  fedimint-bitcoind/src/bitcoincore_rpc.rs
Owners: @fedimint/firehose

fix(ln-client): check lightning invoice currency
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose

fix(client-ng): make operation log its own module
  fedimint-client/src/db.rs
  fedimint-client/src/lib.rs
  fedimint-client/src/oplog.rs
  gateway/ln-gateway/src/ng/mod.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/database, @fedimint/firehose, @fedimint/lightning

feat(client-ng): implement operation log paging
  fedimint-client/src/db.rs
  fedimint-client/src/oplog.rs
Owners: @fedimint/database, @fedimint/firehose

deploy: cbc2ed4c0f64f97fca645aa6159d0bfaa74ee7b3
  fedimint_ln_client/enum.LightningClientStateMachines.html
  fedimint_ln_client/fn.network_to_currency.html
  fedimint_ln_client/index.html
  fedimint_ln_client/struct.LightningClientModule.html
  src/fedimint_ln_client/lib.rs.html
Owners: @fedimint/firehose

fix: dummy client uses wrong amount when receiving funds
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-dummy-client/src/states.rs
Owners: @fedimint/firehose

deploy: 7da315370d3c1534c79c43536ddcdcc747ff2ce0
  fedimint_dummy_client/fn.get_funds.html
  fedimint_dummy_client/index.html
  fedimint_dummy_client/states/enum.DummyError.html
  fedimint_dummy_client/states/enum.DummyStateMachine.html
  fedimint_dummy_client/states/fn.add_funds.html
  fedimint_dummy_client/states/fn.await_dummy_output_outcome.html
  fedimint_dummy_client/states/fn.await_tx_accepted.html
  fedimint_dummy_client/states/index.html
  fedimint_dummy_client/struct.DummyClientContext.html
  fedimint_dummy_client/struct.DummyClientGen.html
  fedimint_dummy_client/struct.DummyClientModule.html
  fedimint_dummy_client/trait.DummyClientExt.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_dummy_client/lib.rs.html
  src/fedimint_dummy_client/states.rs.html
Owners: @fedimint/firehose

feat: gateway incoming state machine
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/receive.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/lightning, @fedimint/firehose

feat(gateway-cli): show balance for each federation
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/rpc/mod.rs
Owners: @fedimint/lightning

feat: fund client ng from devimint dev-fed
  devimint/src/federation.rs
  devimint/src/main.rs
  scripts/user-shell.sh
Owners: @fedimint/firehose, @fedimint/infra

feat: choose active gateway randomly
  modules/fedimint-ln-client/src/lib.rs
Owners: @fedimint/firehose

deploy: 2290b08ee662ab33f6593c352a29429fdccf514e
  fedimint_ln_client/enum.LightningClientStateMachines.html
  fedimint_ln_client/enum.LightningMeta.html
  fedimint_ln_client/enum.LightningPayError.html
  fedimint_ln_client/fn.network_to_currency.html
  fedimint_ln_client/index.html
  fedimint_ln_client/struct.LightningClientContext.html
  fedimint_ln_client/struct.LightningClientGen.html
  fedimint_ln_client/struct.LightningClientModule.html
  fedimint_ln_client/trait.LightningClientExt.html
  help.html
  index.html
  settings.html
  src/fedimint_ln_client/lib.rs.html
Owners: @fedimint/firehose

Update cookie auth logic
  fedimint-bitcoind/src/bitcoincore_rpc.rs
Owners: @fedimint/firehose

Update bitcoincore_rpc.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
Owners: @fedimint/firehose

Update imports in bitcoincore_rpc.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
Owners: @fedimint/firehose

Update bitcoincore_rpc.rs
  fedimint-bitcoind/src/bitcoincore_rpc.rs
Owners: @fedimint/firehose

test(client-ng): add caching test
  fedimint-client/src/oplog.rs
Owners: @fedimint/firehose

refactor: create shared internal transaction state machine
  Cargo.lock
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-common/src/contracts/incoming.rs
  modules/fedimint-ln-common/src/incoming.rs
  modules/fedimint-ln-common/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: Gatewayd database
  fedimint-testing/src/gateway.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/client.rs
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/lib.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning, @fedimint/database

feat: client internal pay
  fedimint-cli/src/ng.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/src/incoming.rs
  modules/fedimint-ln-tests/tests/tests.rs
Owners: @fedimint/firehose, @fedimint/lightning

deploy: 1af56457b9ad2016e54a8040b568140254572b48
  devimint/federation/constant.BASE_PORT.html
  devimint/federation/fn.run_config_gen.html
  devimint/federation/index.html
  devimint/federation/struct.Federation.html
  devimint/federation/struct.Fedimintd.html
  search-index.js
  src/devimint/federation.rs.html
Owners: @fedimint/firehose

refactor: one route_htlcs instead of per-actor
  fedimint-core/src/config.rs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/cli/src/main.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/bin/gatewayd.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_client.rs
  gateway/ln-gateway/src/rpc/rpc_server.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

rename: rename CompleteHtlcResponse to InterceptHtlcResponse
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
Owners: @fedimint/firehose, @fedimint/lightning

remove: remove subscribe_mint_htlcs
  fedimint-testing/src/gateway.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/proto/gatewaylnrpc.proto
  gateway/ln-gateway/src/actor.rs
  gateway/ln-gateway/src/bin/cln_extension.rs
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/lnd.rs
  gateway/ln-gateway/src/lnrpc_client.rs
  gateway/ln-gateway/src/ng/mod.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose, @fedimint/lightning

feat: register gateway state machine
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/register.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/lightning

correct ln-invoice command
  docs/dev-running.md
Owners: @fedimint/firehose

feat: use database to determine if the gateway should reregister
  gateway/ln-gateway/src/db.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/register.rs
  gateway/ln-gateway/src/ng/tests.rs
Owners: @fedimint/database, @fedimint/lightning

fix: fix timing bug and add timing buffer
  gateway/ln-gateway/src/ng/register.rs
Owners: @fedimint/lightning

deploy: f33f5d543110ee23cb8bb6a80ae94017526a3db9
  fedimint_client/oplog/index.html
  help.html
  index.html
  settings.html
  src/fedimint_client/oplog.rs.html
Owners: @fedimint/firehose

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto
