Repository fedimint/fedimint, changes with the owners that CODEOWNERS names for each.
All owners: @fedimint/firehose, @fedimint/infra, @fedimint/lightning, @fedimint/database, @fedimint/consensus, @fedimint/ui, @fedimint/crypto

deploy: 5c8330da17bf204132affe017c861f0cd65a3e36
  fedimint_mint_client/all.html
  fedimint_mint_client/backup/recovery/constant.PROGRESS_SNAPSHOT_EPOCHS.html
  fedimint_mint_client/backup/recovery/enum.MintRestoreStates.html
  fedimint_mint_client/backup/recovery/index.html
  fedimint_mint_client/backup/recovery/sidebar-items.js
  fedimint_mint_client/backup/recovery/struct.CompressedBlindedMessage.html
  fedimint_mint_client/backup/recovery/struct.EcashRecoveryFinalState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreFailedState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreInProgressState.html
  fedimint_mint_client/backup/recovery/struct.MintRestoreStateMachine.html
  search-index.js
  src/fedimint_mint_client/backup/recovery.rs.html
Owners: @fedimint/firehose

deploy: 5c3d968663f59cfbfbaa922d6a263dd3890f9e33
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

fix(client-ng): give api object to module clients
  fedimint-client/src/lib.rs
  fedimint-client/src/module/gen.rs
  modules/fedimint-dummy-client/src/lib.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-mint-client/src/lib.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

deploy: e12d949813e5e0ce060427d9f491255db9da250e
  fedimint_bitcoind/bitcoincore_rpc/index.html
  fedimint_bitcoind/bitcoincore_rpc/struct.EsploraClient.html
  fedimint_bitcoind/trait.IBitcoindRpc.html
  src/fedimint_bitcoind/bitcoincore_rpc.rs.html
  src/fedimint_wallet_client/deposit.rs.html
Owners: @fedimint/firehose

fix(client-ng): base64-encode e-cash notes like the od client
  devimint/src/main.rs
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

deploy: d976d4afe556bce1e44138329de82382cfdd14e7
  help.html
  index.html
  settings.html
  src/faucet/faucet.rs.html
  src/fedimint_core/task.rs.html
Owners: @fedimint/firehose

feat: simple cli test for ng client backup&restore
  devimint/src/main.rs
Owners: @fedimint/firehose

chore: print OperationId using Display, not Debug
  fedimint-cli/src/ng.rs
Owners: @fedimint/firehose

chore: improve mint module recovery debug output
  fedimint-logging/src/lib.rs
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

chore: more debug output helpful in recovery debugging
  fedimint-cli/src/lib.rs
  fedimint-client/src/backup.rs
  modules/fedimint-mint-client/src/backup/recovery.rs
Owners: @fedimint/firehose

deploy: 5b89c5a71340414e424aaf02235a8edb1af8c832
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
  help.html
  index.html
  settings.html
  src/fedimint_cli/ng.rs.html
Owners: @fedimint/firehose

Add: create new utils package and refactor guardian ui for new translation logic
  fedimint-ui/README.md
  fedimint-ui/apps/gateway-ui/package.json
  fedimint-ui/apps/gateway-ui/src/components/ConnectFederation.tsx
  fedimint-ui/apps/gateway-ui/src/components/DepositTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/FederationCard.tsx
  fedimint-ui/apps/gateway-ui/src/components/Header.tsx
  fedimint-ui/apps/gateway-ui/src/components/InfoTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/WithdrawTab.tsx
  fedimint-ui/apps/gateway-ui/src/index.tsx
  fedimint-ui/apps/gateway-ui/src/translations/en.json
  fedimint-ui/apps/gateway-ui/src/translations/index.ts
  fedimint-ui/apps/guardian-ui/package.json
  fedimint-ui/apps/guardian-ui/src/App.tsx
  fedimint-ui/apps/guardian-ui/src/components/ConnectGuardians.tsx
  fedimint-ui/apps/guardian-ui/src/components/FederationDashboard.tsx
  fedimint-ui/apps/guardian-ui/src/components/Login.tsx
  fedimint-ui/apps/guardian-ui/src/components/RoleSelector.tsx
  fedimint-ui/apps/guardian-ui/src/components/RunDKG.tsx
  fedimint-ui/apps/guardian-ui/src/components/SetConfiguration.tsx
  fedimint-ui/apps/guardian-ui/src/components/Setup.tsx
  fedimint-ui/apps/guardian-ui/src/components/SetupComplete.tsx
  fedimint-ui/apps/guardian-ui/src/components/VerifyGuardians.tsx
  fedimint-ui/apps/guardian-ui/src/languages/en.json
  fedimint-ui/apps/guardian-ui/src/languages/es.json
  fedimint-ui/apps/guardian-ui/src/languages/index.ts
  fedimint-ui/packages/ui/src/SharedChakraProvider.tsx
  fedimint-ui/packages/utils/.eslintrc.js
  fedimint-ui/packages/utils/README.md
  fedimint-ui/packages/utils/package.json
  fedimint-ui/packages/utils/src/i18n.tsx
  fedimint-ui/packages/utils/src/index.tsx
  fedimint-ui/packages/utils/tsconfig.json
  fedimint-ui/packages/utils/tsup.config.json
  fedimint-ui/yarn.lock
Owners: @fedimint/firehose, @fedimint/ui

fix: remove password requirement for docker image
  misc/fedimintd-container-entrypoint.sh
Owners: @fedimint/infra

fix: add false-positive unused dep
  modules/fedimint-ln-client/Cargo.toml
Owners: @fedimint/firehose

deploy: d72a46c08a151736e229c89727308f54320e486c
  fedimint_client/fn.get_client_root_secret.html
  fedimint_client/index.html
  fedimint_client/module/gen/trait.ClientModuleGen.html
  fedimint_client/module/gen/trait.IClientModuleGen.html
  fedimint_client/secret/constant.TYPE_BACKUP.html
  fedimint_client/secret/constant.TYPE_MODULE.html
  fedimint_client/secret/struct.PlainRootSecretStrategy.html
  fedimint_client/secret/trait.DeriveableSecretClientExt.html
  fedimint_client/secret/trait.RootSecretStrategy.html
  fedimint_client/struct.Client.html
  fedimint_client/struct.ClientInner.html
  fedimint_client/struct.ClientSecret.html
Owners: @fedimint/firehose

fix(ln-server): save output outcome for outgoing contract cancellations
  fedimint-client-legacy/src/transaction.rs
  modules/fedimint-ln-common/src/lib.rs
  modules/fedimint-ln-server/src/lib.rs
Owners: @fedimint/firehose

fix(ui): fix misspelled dev command, remove redundant yarn run in package.json scripts
  fedimint-ui/packages/ui/package.json
Owners: @fedimint/firehose

feature(ui): add yarn dev command, and individual app dev commands that also dev any dependencies
  fedimint-ui/README.md
  fedimint-ui/package.json
  fedimint-ui/turbo.json
Owners: @fedimint/firehose

deploy: 021919ca90d2c805a8fd697a696ce7ebcb2698ac
  fedimint_client_legacy/outcome/legacy/enum.OutputOutcome.html
  fedimint_client_legacy/transaction/index.html
  fedimint_client_legacy/transaction/struct.TransactionBuilder.html
  fedimint_client_legacy/transaction/trait.Final.html
  fedimint_ln_client/enum.LightningOutputOutcome.html
  fedimint_ln_common/enum.LightningConsensusItem.html
  fedimint_ln_common/enum.LightningError.html
  fedimint_ln_common/enum.LightningOutput.html
  fedimint_ln_common/enum.LightningOutputOutcome.html
  fedimint_ln_common/index.html
  fedimint_ln_common/route_hints/index.html
  fedimint_ln_common/route_hints/struct.RouteHint.html
  fedimint_ln_common/route_hints/struct.RouteHintHop.html
  fedimint_ln_common/serde_routing_fees/fn.deserialize.html
  fedimint_ln_common/serde_routing_fees/fn.serialize.html
  fedimint_ln_common/serde_routing_fees/index.html
  fedimint_ln_common/struct.LightningCommonGen.html
  fedimint_ln_common/struct.LightningGateway.html
  fedimint_ln_common/struct.LightningInput.html
  fedimint_ln_common/struct.LightningModuleTypes.html
  fedimint_ln_server/index.html
  fedimint_ln_server/struct.Lightning.html
  fedimint_ln_server/struct.LightningVerificationCache.html
  help.html
  index.html
  search-index.js
  settings.html
  src/fedimint_client_legacy/transaction.rs.html
  src/fedimint_ln_common/lib.rs.html
  src/fedimint_ln_server/lib.rs.html
Owners: @fedimint/firehose

chore: yarn build in just run-ui
  justfile
Owners: @fedimint/firehose

fix: wrong placement of restore test (rebase issue)
  devimint/src/main.rs
Owners: @fedimint/firehose

chore: await all restore operation ids (wip)
  devimint/src/util.rs
  fedimint-cli/src/lib.rs
  fedimint-client/src/backup.rs
  fedimint-client/src/lib.rs
  fedimint-client/src/module/mod.rs
  fedimint-client/src/sm/state.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

fix: add back aquamarine
  Cargo.lock
  modules/fedimint-ln-client/Cargo.toml
Owners: @fedimint/firehose

fix(ui): ensure ui build runs before dev tasks
  fedimint-ui/package.json
  fedimint-ui/turbo.json
Owners: @fedimint/firehose

refactor(ui): clean up gateway api structure
  fedimint-ui/apps/gateway-ui/src/ApiProvider.tsx
  fedimint-ui/apps/gateway-ui/src/App.tsx
  fedimint-ui/apps/gateway-ui/src/ExplorerApi.ts
  fedimint-ui/apps/gateway-ui/src/GatewayApi.ts
  fedimint-ui/apps/gateway-ui/src/api/Mintgate.mock.ts
  fedimint-ui/apps/gateway-ui/src/api/index.ts
  fedimint-ui/apps/gateway-ui/src/components/ConnectFederation.tsx
  fedimint-ui/apps/gateway-ui/src/components/DepositTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/WithdrawTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/index.tsx
  fedimint-ui/apps/gateway-ui/src/index.tsx
Owners: @fedimint/firehose

feat(ui): show info in simplified gateway ui mvp
  fedimint-ui/apps/gateway-ui/README.md
  fedimint-ui/apps/gateway-ui/src/App.tsx
  fedimint-ui/apps/gateway-ui/src/GatewayApi.ts
  fedimint-ui/apps/gateway-ui/src/components/ConnectFederation.tsx
  fedimint-ui/apps/gateway-ui/src/components/FederationCard.tsx
  fedimint-ui/apps/gateway-ui/src/components/Header.tsx
  fedimint-ui/apps/gateway-ui/src/federation.types.ts
  fedimint-ui/apps/gateway-ui/src/types.tsx
  fedimint-ui/turbo.json
  gateway/ln-gateway/src/rpc/mod.rs
  gateway/ln-gateway/src/rpc/rpc_client.rs
Owners: @fedimint/firehose, @fedimint/lightning

refactor(ui): themable button
  fedimint-ui/apps/gateway-ui/src/components/Button.tsx
  fedimint-ui/apps/gateway-ui/src/components/ConnectFederation.tsx
  fedimint-ui/apps/gateway-ui/src/components/DepositTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/FederationCard.tsx
  fedimint-ui/apps/gateway-ui/src/components/Header.tsx
  fedimint-ui/apps/gateway-ui/src/components/WithdrawTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/index.tsx
Owners: @fedimint/firehose

docs(ui): document running gateway ui in current dev env
  fedimint-ui/apps/gateway-ui/README.md
Owners: @fedimint/firehose

feat(ui): show deposit address in simpified gateway ui mvp
  fedimint-ui/apps/gateway-ui/src/App.tsx
  fedimint-ui/apps/gateway-ui/src/GatewayApi.ts
  fedimint-ui/apps/gateway-ui/src/components/DepositTab.tsx
  fedimint-ui/apps/gateway-ui/src/components/FederationCard.tsx
Owners: @fedimint/firehose

feat(ui): connect gateway to federation via ui
  fedimint-ui/apps/gateway-ui/src/GatewayApi.ts
  fedimint-ui/apps/gateway-ui/src/components/ConnectFederation.tsx
  fedimint-ui/apps/gateway-ui/src/components/FederationCard.tsx
Owners: @fedimint/firehose

feat(ui): 301 Moved Permanently
  fedimint-ui/README.md
Owners: @fedimint/firehose

feat(wallet-client): implement withdrawals
  devimint/src/external.rs
  devimint/src/main.rs
  fedimint-cli/src/ng.rs
  modules/fedimint-wallet-client/src/lib.rs
  modules/fedimint-wallet-client/src/withdraw.rs
Owners: @fedimint/firehose

fix(wallet-client): cache deposit operation outcome
  fedimint-cli/src/ng.rs
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

feat: gateway client state machines for incoming payments
  Cargo.lock
  fedimint-testing/src/federation.rs
  fedimint-testing/src/fixtures.rs
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  gateway/ln-gateway/Cargo.toml
  gateway/ln-gateway/src/lib.rs
  gateway/ln-gateway/src/ng/mod.rs
  gateway/ln-gateway/src/ng/receive.rs
  gateway/ln-gateway/src/ng/tests.rs
  modules/fedimint-dummy-tests/tests/tests.rs
  modules/fedimint-ln-client/src/lib.rs
  modules/fedimint-ln-common/Cargo.toml
  modules/fedimint-ln-common/src/api.rs
  modules/fedimint-ln-common/src/lib.rs
Owners: @fedimint/firehose, @fedimint/lightning

refactor: remove LnRpcAdapter and simplify lightning test clients
  fedimint-testing/src/ln/mock.rs
  fedimint-testing/src/ln/mod.rs
  fedimint-testing/src/ln/real.rs
  integrationtests/tests/fixtures/mod.rs
Owners: @fedimint/firehose

fix(core): allow consensus hashing using arbitrary algorithms
  fedimint-core/src/encoding/mod.rs
  fedimint-core/src/epoch.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

fix(mint-client): don't fail when reissuing own notes
  devimint/src/main.rs
  modules/fedimint-mint-client/src/lib.rs
Owners: @fedimint/firehose

deploy: ce9ae2a6e42368ad44b64567c5d86b665aa1caa0
  help.html
  index.html
  settings.html
Owners: @fedimint/firehose

feat(wallet-client): add `yield_now` to stream loop
  modules/fedimint-wallet-client/src/lib.rs
Owners: @fedimint/firehose

deploy: 56e2de63ed8175a6821a25b3246edd116a761ecd
  fedimint_testing/all.html
  fedimint_testing/ln/enum.GatewayNode.html
  fedimint_testing/ln/enum.LightningNodeType.html
  fedimint_testing/ln/index.html
  fedimint_testing/ln/mock/index.html
  fedimint_testing/ln/mock/sidebar-items.js
  fedimint_testing/ln/mock/struct.FakeLightningTest.html
  fedimint_testing/ln/mock/struct.LnRpcAdapter.html
  fedimint_testing/ln/real/index.html
  fedimint_testing/ln/real/sidebar-items.js
  fedimint_testing/ln/real/struct.ClnLightningTest.html
  fedimint_testing/ln/real/struct.LndLightningTest.html
  fedimint_testing/ln/real/struct.RealLightningTest.html
  fedimint_testing/ln/sidebar-items.js
  fedimint_testing/ln/trait.LightningTest.html
  help.html
  implementors/alloc/string/trait.ToString.js
  implementors/clap_builder/derive/trait.ValueEnum.js
  implementors/core/clone/trait.Clone.js
  implementors/core/fmt/trait.Debug.js
  implementors/core/marker/trait.Freeze.js
  implementors/core/marker/trait.Send.js
  implementors/core/marker/trait.Sync.js
  implementors/core/marker/trait.Unpin.js
  implementors/core/panic/unwind_safe/trait.RefUnwindSafe.js
  implementors/core/panic/unwind_safe/trait.UnwindSafe.js
  implementors/ln_gateway/lnrpc_client/trait.ILnRpcClient.js
  index.html
  search-index.js
  settings.html
  src/fedimint_testing/ln/mock.rs.html
  src/fedimint_testing/ln/mod.rs.html
  src/fedimint_testing/ln/real.rs.html
Owners: @fedimint/firehose

CODEOWNERS:

# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# TLDR:
#
# * last matching line wins (so order from most general to most specific)
# * multiple elements on the same line means "OR"

# default: unless more specific rule is found, these will be the reviewers assigned
# this will be a chore for people here, but guarantees that *someone* gets to look
# at every PR (they can unassign and unsubscribe themselves after taking an initial look)
* @fedimint/firehose


*.nix     @fedimint/infra
*.sh      @fedimint/infra
.github/  @fedimint/infra
misc/     @fedimint/infra
scripts/  @fedimint/infra


gateway/ @fedimint/lightning


fedimint-rocksdb/    @fedimint/database
fedimint-dbtool/     @fedimint/database
fedimint-sqlite/     @fedimint/database
fedimint-core/src/db @fedimint/database
db/                  @fedimint/database
**/db.rs             @fedimint/database
**/db/               @fedimint/database

fedimint-server/src/consensus @fedimint/consensus
fedimint-server/src/config    @fedimint/consensus
./fedimint-core/src/config.rs @fedimint/consensus


gateway/ui/         @fedimint/lightning @fedimint/ui
fedimintd/src/ui.rs @fedimint/ui
guardian-ui/        @fedimint/ui


crypto/             @fedimint/crypto
